<h2>Update Athlete</h2>

<!--
<div id="description">
	{{#compare 5 "==" 4}}
		5 = 5 <br>
	{{else}}
		5 <> 4 <br>
	{{/compare}}
	<br>
	athlete teamID: {{athlete.teamID}}
	<br>
	{{#each teams}}
		{{#compare athlete.teamID "==" this.id}}
			{{this.athlete.teamID}} = {{this.id}} <br>
		{{else}}
			{{this.athlete.teamID}} <> {{this.id}} <br>
		{{/compare}}
	{{/each}}
	<br>
</div>
-->

<!-- Update athlete form -->
<div id="input">
	<b>Update any information below</b>
	<br><br>
	
	<form id="updateAthleteSubmit" action="/athleteUpdateSubmit" method="post">
		<input type="hidden" name="id" value="{{athlete.id}}">
		<table id="formTable">
			<tr>
				<td class="rightAlign">First Name:</td>
				<td class="leftAlign"><input type="text" name="firstName" value="{{athlete.firstName}}" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Last Name:</td>
				<td class="leftAlign"><input type="text" name="lastName" value="{{athlete.lastName}}" required></td>
			</tr>
			<tr>
				<td class="rightAlign">Jersey Number:</td>
				<td class="leftAlign"><input type="number" value="{{athlete.jerseyNumber}}" name="jerseyNumber"></td>
			</tr>
			<tr>
				<td class="rightAlign">Team:</td>
				<td class="leftAlign">
					<select name="teamID">
						<option value="">None</option>
						{{#if teams}}
							{{#each teams}}
								<option value="{{id}}">{{teamName}}</option>
							{{/each}}
						{{/if}}
					</select>
				</td>
			</tr>
			<tr>
				<td class="rightAlign">Current Team:</td>
				<td class="leftAlign">
					{{#if athlete.teamName}}
						{{athlete.teamName}}
					{{else}}
						None
					{{/if}}
				</td>
			</tr>
			<tr>
				<td class="rightAlign">College:</td>
				<td class="leftAlign">
					<select name="collegeID">
						<option value="">None</option>
						{{#if colleges}}
							{{#each colleges}}
								<option value="{{id}}">{{schoolName}}</option>
							{{/each}}
						{{/if}}
					</select>
				</td>
			</tr>
			<tr>
				<td class="rightAlign">Current School:</td>
				<td class="leftAlign">
					{{#if athlete.schoolName}}
						{{athlete.schoolName}}
					{{else}}
						None
					{{/if}}
				</td>
			</tr>
		</table>
		<br>
		<input type="submit" value="Update">
		<a href="/athlete">Cancel</a>
	</form>
</div>


